.card {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #555;
    margin: 10px;
    /* width: 200px; */
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.card:hover{
    background-color: #303030;
    cursor: pointer;
}

.card .title {
    font-weight: normal;
}

.card .tags {
    padding-top: 10px;
    font-weight: lighter;
}

.card .tag {
    padding: 2px 8px;
    margin: 4px 4px 0 0;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 90%;
}