body {
    margin: 0;
    font-family: "Open sans", sans-serif;
    color: white;
    background-color: #2b2e30;
}

#sidebar {
    width: 240px;
    background-color: #262a2b;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#sidebar .logo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

#sidebar .logo img {
    max-height: 30px;
    margin-right: 10px;
}

#sidebar .logo .title {
    padding-right: 10px;
}
#sidebar .logo .version {
    font-size: 0.8em;
    opacity: 0.7;
}

#sidebar .boards h2 {
    padding-left: 10px;
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 10px;
}

#sidebar .boards ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar .boards ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 10px;
    font-size: 0.9em;
}

#sidebar .boards ul li a:hover {
    background-color: #444;
}

#sidebar .bottom-links {
    margin-top: auto;
}

#sidebar .bottom-links a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    font-size: 0.9em;
    border-top: 1px solid #444;
}
