#sidebar {
    width: 240px;
    background-color: #262a2b;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    float: left;
}

#sidebar .logo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

#sidebar .logo img {
    max-height: 30px;
    margin-right: 10px;
}

#sidebar .logo .title {
    padding-right: 10px;
}
#sidebar .logo .version {
    font-size: 0.8em;
    opacity: 0.7;
}

#sidebar .boards h2 {
    padding-left: 10px;
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 10px;
}

#sidebar .boards ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar a {
    text-decoration: none;
    color: white;
}

#sidebar .boards ul li:hover {
    background-color: #444;
}

#sidebar .bottom-links {
    margin-top: auto;
}

#sidebar .bottom-links span {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    font-size: 0.9em;
    border-top: 1px solid #444;
    cursor: pointer;
}

#sidebar li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

#sidebar .edit-icon {
    visibility: hidden;
    margin-right: 10px; 
    cursor: pointer;
}

#sidebar li:hover .edit-icon {
    visibility: visible;
}